@media ( max-width: 1360px )
  .hero
    &__bg
      max-width: 1140px
      &-wrapper
        transform: translate(30%, -21%)

@media (max-width: 1199px)
  .header
    &-container
      max-width: 960px

  .hero
    &__bg
      max-width: 960px
      &-wrapper
        transform: translate(25%, -21%)
    &-container
      max-width: 860px

  .collection
    &-container
      max-width: 960px
    &__images
      max-width: 60%

  .trends
    &-container
      max-width: 960px

  .card
    &-trend
      &__image-wrapper
        width: 100%
      &__title
        width: 80%

  .horizont
    max-width: 960px

  .articles
    &-container
      max-width: 960px

  .newsletter
    &-container
      max-width: 960px
    &__form
      margin-right: 0

  .footer
    &-container
      max-width: 960px
    &-grid
      grid-template-columns: 270px 180px 180px 180px 150px

@media screen and (min-width: 992px)
  .navbar
    &__link
      position: relative
      &::after
        content: ''
        position: absolute
        bottom: -5px
        left: 0
        width: 0
        height: 1px
        background-color: $dark-blue
        transition: width 0.3s ease
      &:hover::after
        width: 100%

  .button
    &--solid
      &:hover
        background-color: $blue
    &--bordered
      &:hover
        background-color: $blue
        color: $white

  .filter__link
    &:hover
      color: $blue

  .card-trend__icon
    &:hover
      fill: $dark-blue

  .card-trend__image-wrapper
    &:hover
      background-color: $dark-blue

  .slider-button
    &:hover
      fill: $blue
      border-color: $blue

  .swiper-button-disabled
    &:hover
      border: 2px solid $swiper-button-disabled-color
      fill: $swiper-button-disabled-color

  .newsletter__form-submit-input
    &:hover
      background-color: $blue

  .socials__link
    &:hover
      background-color: rgba($blue , 0.2)

  .nav__link
    &:hover
      color: $blue

  .to-top__button
    &:hover
      background-color: $grey

  .modal__button
    &:hover
      background-color: $grey

  .more
    &:hover
      color: $dark-blue

  .collection__more
    &:hover::after
      content: url('../img/icons/more-next-hover.svg')

@media (max-width: 991px)
  .header
    // margin-top: 8px
    // margin-bottom: 30px
    &-container
      padding-top: 8px
      max-width: 650px
      height: 72px

  .navbar
    &__list
      &--visible
        display: none
    &__button
      &--visible
        display: none
    &__mobile
      &-menu
        &-button
          &--visible
            display: flex

  .hero
    margin-top: 102px
    margin-bottom: 80px
    &__bg
      max-width: 728px
      // max-height: 624px
      &-wrapper
        transform: translate(24%, -12%)
      &-pic
        transform: scale(1.48)
    &-container
      max-width: 672px
      padding: 36px 0
    &-wrapper
      // top: 36px
    &__tag
      margin-bottom: 19px
    &__title
      max-width: 365px
      margin-bottom: 25px
      font-size: 48px
      line-height: 60px
    &__text
      margin-bottom: 37px
    &__button
      margin-bottom: 40px

  .text
    max-width: 400px
    font-size: 18px
    line-height: 32px

  .goods
    &__item
      margin-right: 24px
    &__text

  .collection
    margin-bottom: 75px
    &-container
      max-width: 672px
    &-wrapper
      flex-wrap: wrap
    &__images
      max-width: 100%
      margin-right: 0
      margin-bottom: 35px
    &__description
      width: 100%
    &__title
      max-width: 100%
      margin-top: 0
      margin-bottom: 30px
    &__text
      max-width: 100%
      margin-bottom: 23px
      font-weight: 400
      font-size: 20px
      line-height: 36px

  .trends
    margin-bottom: 80px
    &-container
      max-width: 608px
    &__header
      &-wrapper
        flex-direction: column
        margin-bottom: 55px
    &__title
      margin-bottom: 32px
    &__cards
      &-wrapper
        grid-template-rows: repeat(4, 1fr)
        grid-template-columns: repeat(2, 1fr)
        grid-gap: 48px

  .filter
    &__list
      margin-top: 0

  .card
    &-trend
      max-width: 280px
      &__image-wrapper
        width: 100%
      &__title
        width: 90%

  .reviews
    &-container
      max-width: 630px
    &__slider
      max-height: 298px
    &__quote
      margin-bottom: 25px
    &__text
      max-width: 600px
      max-height: 210px

  .horizont
    max-width: 728px
    margin-bottom: 80px

  .articles
    margin-bottom: 80px
    &-container
      max-width: 682px
      flex-direction: column
    &-wrapper
      height: auto
      margin-bottom: 36px
      align-items: center
    &__tag
      margin-bottom: 18px
    &__title
      max-width: 567px
      margin-right: 0
      margin-bottom: 22px
      text-align: center
    &__text
      max-width: 568px
      margin-right: 0
      margin-bottom: 35px
      font-size: 20px
      line-height: 36px
      text-align: center
    &__slider
      flex-basis: 100%

  .swiper
    &-container
      margin-top: 0

  .card
    &-articles
      width: 332px
      &__image
        &-wrapper
          width: 322px
      &__text
        &-wrapper
          width: 322px

  .newsletter
    padding-top: 68px
    padding-bottom: 80px
    background: url('../img/newsletter-bg-768.jpg') center center / cover no-repeat
    &-container
      max-width: 447px
    &-wrapper
      flex-direction: column
    &__title
      margin-bottom: 18px
      text-align: center
    &__text
      margin-bottom: 56px
      text-align: center
      &-wrapper
        align-items: center

  .footer
    padding-top: 64px
    padding-bottom: 84px
    &-container
      max-width: 648px
    &-grid
      grid-template-columns: 255px 165px 165px
      grid-template-rows: 262px 262px
      grid-column-gap: 28px
      grid-row-gap: 48px
      &__ml
        margin-left: -1px
    &__logo
      margin-bottom: 25px
      &-wrapper
        grid-row: 1 / 3
    &__text
      font-size: 16px
      line-height: 28px

@media (max-width: 767px)
  .header
    // margin-top: 0
    // margin-bottom: 24px
    &-container
      padding-top: 0
      height: 64px
      max-width: 576px
      width: calc(100% - 48px)

  .hero
    margin-top: 88px
    &__bg
      max-width: 576px
      width: calc(100% - 40px)
      &-wrapper
        transform: translate(31%, -10%)
    &-container
      max-width: 500px
      width: calc(100% - 56px)

  .collection
    &-container
      max-width: 576px
      width: calc(100% - 40px)

  .trends
    &-container
      max-width: 510px
      // max-width: 576px
      // width: calc(100% - 30px)
    &__header
      &-wrapper
        margin-bottom: 36px
    &__title
      margin-bottom: 27px
    &__cards
      &-wrapper
        grid-template-columns: repeat(2, 250px)
        grid-row-gap: 20px
        grid-column-gap: 10px

  .reviews
    &-container
      max-width: 546px
    &__text
      max-width: 500px

  .horizont
    max-width: 100%
    margin-bottom: 47px

  .articles
    &-container
      width: calc( 100% - 40px )
    &__tag
      margin-bottom: 21px
    &__slider
      // height: 839px
    &__slide
      height: 408px
      // margin-bottom: 25px
      // &:nth-child(1+2n)
      //   margin-bottom: 0

  .swiper
    &-wrapper
      margin-bottom: -24px
    &-slide
      margin-bottom: 24px
  .card
    &-articles
      width: 100%
      height: 407px
      &__image
        &-wrapper
          width: calc( 100% - 10px )
          height: 277px
      &__text
        &-wrapper
          width: calc( 100% - 10px )
          height: 150px
      &__title
        max-width: 600px
        min-width: 240px
        width: calc(100% - 30px)
        font-size: 20px
        line-height: 24px

  .footer
    &-container
      width: 450px
    &-grid
      grid-template-columns: 1fr 1fr
      grid-template-rows: 262px 222px 182px
      grid-column-gap: 28px
      grid-row-gap: 48px
      &__ml
        margin-left: 0
    &__logo
      &-wrapper
        grid-row: 3
        grid-column: span 2
        align-items: center
    &__text
      text-align: center

@media (max-width: 575px)
  .hero
    margin-bottom: 62px
    &__bg
      width: 100%
      // min-height: 899px
      border-radius: 0
      &-wrapper
        transform: translate(0, 0)
        width: 100%
        height: 100%
        &::after
          background: linear-gradient(180deg, rgba(238, 238, 238, 0.0001) 47.32%, #E8EAE9 65.51%)
      &-pic
        position: absolute
        transform: translate(-12%, 14%) scale(2.5)
        object-fit: cover
    &-container
      max-width: calc( 100% - 40px )
      padding: 381px 0 36px
    &-wrapper
      width: 100%
      align-items: center
    &__tag
      margin-bottom: 17px
    &__title
      max-width: calc( 100% - 20px )
      margin-bottom: 23px
      font-size: 32px
      line-height: 40px
      text-align: center
    &__text
      // max-width: calc( 100% - 40px )
      margin-bottom: 24px
      font-size: 16px
      line-height: 28px
      text-align: center
    &__button
      margin-bottom: 22px
      padding: 13px 49px
      font-size: 16px
      line-height: 22px

  .title
    font-size: 28px
    line-height: 36px
    text-align: center

  .tag
    padding: 2px 26px

  .goods
    &__list
      flex-wrap: wrap
      justify-content: space-between
      width: 274px
    &__item
      margin-right: 0
      &:first-child
        margin-right: 16px
      &:last-child
        margin: 16px auto 0
    &__icon
      width: 24px
      height: 24px

  .collection
    margin-bottom: 107px
    &-container
      width: calc(100% - 30px)
    &__images
      grid-template-rows: 300px 97px
      grid-gap: 14px
      margin-bottom: 33px
    &__pic
      border-radius: 3px
      &--xl
        grid-row: 1
        grid-column: 1 / 3
    &__title
      margin-bottom: 23px
    &__text
      max-width: calc( 100% - 10px )
      margin: 0 auto
      font-size: 16px
      line-height: 28px
      text-align: center
    &__more
      display: none

  .trends
    margin-bottom: 48px
    &-container
      max-width: 410px
    &__cards-wrapper
      grid-template-columns: repeat(2, 200px)
    &__card
      // max-height: 230px

  .filter
    &__item
      margin-right: 16px
      &:last-child
        margin-right: 0
    &__link
      font-weight: 400
      font-size: 16px
      line-height: 22px
      &--active
        font-weight: 700

  .card
    &-trend
      min-width: 140px
      &__image-wrapper
        margin-bottom: 13px
        height: 260px
      &__title
        margin-left: 0
        margin-bottom: 3px
        font-size: 16px
        line-height: 20px
        &--color
          &--white
            font-size: 16px
            margin-bottom: -2px
      &__wrapper
        justify-content: flex-start
        margin-bottom: 4px
      &__price
        margin-left: 0
        font-size: 14px
        line-height: 24px
      &__icon
        width: 16px
        height: 12px
        // margin-right: 0
        // margin-left: 9px
        margin-right: 0
        margin-top: 0
        &-wrapper
          margin-left: 8px
          height: 16px
          width: 15px
      &__plus
        &-icon
          width: 25px
          height: 32px
          margin-bottom: 14px
          margin-top: 14px

  .reviews
    margin-bottom: 64px
    &-container
      max-width: 460px
    &__quote
      margin-bottom: 11px
    &__text
      margin-bottom: 24px
      font-size: 18px
      line-height: 36px
    &__author
      margin-bottom: 31px

  .articles
    margin-bottom: 64px
    &-wrapper
      margin-bottom: 27px
    &__tag
      padding-left: 12px
      padding-right: 12px
    &__title
      margin-bottom: 19px
    &__text
      font-size: 16px
      line-height: 28px
    &__slider
      &-button
        width: 48px
        height: 48px
        &--prev
          margin-right: 12px
    &__more
      margin-left: 0

  .title
    &--visible
      display: none

  .card
    &-articles
      &__title
        margin-bottom: 18px

  .newsletter
    padding-top: 60px
    padding-bottom: 64px
    &-container
      min-width: 280px
      width: calc(100% - 40px)
    &-wrapper
      max-width: 100%
    &__title
      max-width: 100%
      margin-bottom: 27px
      font-size: 28px
      line-height: 36px
    &__text
      max-width: 100%
      margin-bottom: 36px
      font-size: 16px
      line-height: 28px
    &__form
      width: 100%
      flex-wrap: wrap
      &-email-wrapper
        width: 100%
      &-email-input
        width: 100%
        height: 48px
        padding: 13px 48px
      &-submit-input
        position: relative
        right: 0
        width: 100%
        height: 48px
        margin-top: 10px
        border-radius: 8px
    &__input
      &-wrapper
        width: 100%
  .br
    display: none

  label.invalid-newsletter
    top: 115px

  .footer
    padding-top: 48px
    padding-bottom: 73px
    &-container
      width: calc( 100% - 108px )
    &-grid
      grid-template-columns: 1fr 1fr
      grid-template-rows: 212px 172px 182px
    &__logo
      margin-left: 9px
      margin-bottom: 11px
      &-wrapper
        margin-top: 35px
    &__text
      margin-bottom: 21px
      font-size: 14px
      line-height: 24px
    &__socials
      margin-left: 10px

  .nav
    &__title
      margin-bottom: 20px
      font-size: 16px
      line-height: 22px
    &__item
      margin-bottom: 15px
    &__link
      font-size: 14px
      line-height: 20px

  .modal
    &__input
      height: 48px
    &__button
      height: 48px

@media (min-width: 320px) and (max-width: 479px)
  .hero
    &__bg
      &-wrapper
        transform: translate(0, 0)
        width: 100%
        height: 100%
      &::after
        background: linear-gradient(180deg, rgba(238, 238, 238, 0.0001) 47.32%, #E8EAE9 65.51%)
      &-pic
        position: absolute
        transform: translate(-9%, 39%) scale(3.4)
        object-fit: cover
    &-container
      min-width: 280px
    &__title
      max-width: 244px
    &__text
      // max-width: 280px

  .collection
    &-container
    &__text
      // max-width: 280px

  .trends
    &-container
      max-width: 290px
    &__cards
      &-wrapper
        grid-template-columns: repeat(2, 140px)

  .card
    &-trend
      &__image-wrapper
        height: 170px

  .reviews
    &-container
      max-width: calc(100% - 40px)
    &__slider
      max-height: 560px
      width: 100%
    &__quote
      width: 70px
      height: 81px
    &__text
      max-width: calc(100%)
      max-height: 360px
    &__author
      max-width: 240px

  .footer
    &-container
      width: calc(100% - 68px)
    &-grid
      grid-template-columns: 1fr
      grid-template-rows: 202px 202px 167px 97px 217px
      grid-column-gap: 0
      grid-row-gap: 30px
      width: 100%
    &__logo
      &-wrapper
        grid-row: 5
        grid-column: 1
