.collection
  &-wrapper
    display: flex
  &__images
    display: grid
    grid-template-rows: 200px 200px
    grid-template-columns: 200px 200px
    grid-gap: 20px

  &__more
    // &::after
      // content: url()

.c1
  background-color: indigo
  grid-row: 1 / 3

.c2
  background-color: gainsboro

.c3
  background-color: crimson
