.hero
  position: relative
  margin-top: 136px
  margin-bottom: 120px
  &__bg
    position: relative
    max-width: 1280px
    // max-height: 700px
    margin: 0 auto
    border-radius: 8px
    // background-color: $hero-bgc
    overflow: hidden
    &-wrapper
      position: absolute
      z-index: -1
      transform: translate(40%, -21%)
      // left: 27.97%
      // right: -11.88%
      // top: -53.86%
      // bottom: -76.71%
      overflow: hidden
      &::after
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: linear-gradient(270deg, rgba(238, 238, 238, 0.0001) 67.34%, #E8EAE9 100%)
    &-pic
      transform: scale(1.07)
  &__bgc
    position: absolute
    top: 0
    left: 0
    z-index: -1
    width: 100%
    height: 100%
    background-color: $hero-bgc
  &-container
    max-width: 1066px
    padding: 62px 0 46px
    margin: 0 auto
  &-wrapper
    // position: absolute
    // top: 62px
    // z-index: 10
    display: flex
    flex-direction: column
    align-items: flex-start
  &__tag
    margin-bottom: 22px
  &__title
    width: 425px
    margin-bottom: 35px
    font-family: 'HK Grotesk', Arial, sans-serif
    font-style: normal
    font-weight: 700
    font-size: 56px
    line-height: 68px
    color: $dark-blue
  &__text
    margin-bottom: 51px
  &__button
    margin-bottom: 49px
    padding: 15px 40px

.text
  max-width: 650px
  font-weight: 400
  font-size: 20px
  line-height: 36px
  color: $grey

.goods
  &__list
    display: flex
  &__item
    display: flex
    align-items: center
    margin-right: 34px
    &:last-child
      margin-right: 0
  &__icon
    width: 36px
    height: 36px
  &__text
    margin-bottom: 5px
    margin-left: 8px
    font-family: 'HK Grotesk', Arial, sans-serif
    font-style: normal
    font-weight: 500
    font-size: 16px
    line-height: 20px
    color: $dark-blue
